@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

.custom-card-grid {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.custom-card-grid > .card-genshin {
    flex: 0 0 128px;
}

.custom-card-grid > .card-genshin > .card-img-top {
    height: 128px;
}

.card-genshin {
    border: none;
    background: #eed;
}

.card-genshin.rarity-1 > .card-img-top {
    background: #777;
}
.card-genshin.rarity-2 > .card-img-top {
    background: #588;
}
.card-genshin.rarity-3 > .card-img-top {
    background: #579;
}
.card-genshin.rarity-4 > .card-img-top {
    background: #86a;
}
.card-genshin.rarity-5 > .card-img-top {
    background: #b73;
}

.card-genshin > .image {
    border-bottom-right-radius: 15px;
}

.card-genshin > .icon {
    position: relative;
    height: 0;
    top: -120px;
    left: 8px;
    font-size: 20px;
}

.card-genshin > .icon > .bi::before {
    display: block;
}

.card-genshin > .rarity {
    position: relative;
    height: 0;
    top: -20px;
    color: #fc3;
    font-size: 20px;
    text-align: center;
}

.card-genshin > .name,
.card-genshin > .quantity {
    border: none;
    padding: 4px;
    text-align: center;
}

.editable .card-genshin {
    cursor: pointer;
}
